header {
    background-color: lightblue;
    padding: 10px;
}
header p {
    background-color: purple;
    margin-right: 519px;
    border-radius: 30px;
    height: 40px;
    width: 100px;
    padding-top: 20px;
    padding-left: 30px;
    color: white;
}
nav {
    margin-top: 20px;
    background-color: lightblue;
}
nav a {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
    font-family: sans-serif;
}
main {
    background-color: orange;
}
footer {
    background-color:brown;
    margin-bottom: 500px;
}
footer img {
    height: 30px;
    width: 45px;
}
